<%- include ('partials/_header') -%>
    <h1>CONTACTO</h1>
    <ul>
        <li>
            <a href="/">index</a>
        </li>
        <li> <a href="/nosotros">NOSOTROS</a>
        </li>
    </ul>
    <%- include ('partials/_footer') -%>
        <%- include ('partials/_cierre') -%>