<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <h3>Sobre RecApp</h3>
                <p>Herramienta digital para encontrar trabajo en otra área profesional para gente que quiere reinventarse y/o cambiar. Está app valorara las Soft Skills personales previas importantes para el nuevo puesto de trabajo.</p>
                <p class="social">
                    <a href="#"><span class="icofont-twitter"></span></a>
                    <a href="#"><span class="icofont-facebook"></span></a>
                    <!-- <a href="#"><span class="icofont-dribbble"></span></a>
                    <a href="#"><span class="icofont-behance"></span></a> -->
                </p>
            </div>
            <div class="col-md-7 ml-auto">
                <div class="row site-section pt-0">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <!-- <h3>Navigation</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul> -->
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <h3>Servicios</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Equipo</a></li>
                            <li><a href="#">Sinergias</a></li>
                            <li><a href="#">Todos</a></li>
                            <li><a href="#">Eventos</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <h3>Descarga RecApp</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">App Store</a></li>
                            <li><a href="#">Play Store</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center text-center">
            <div class="col-md-7">
                <!-- <p class="copyright">&copy; Copyright SoftLand. All Rights Reserved</p> -->
                <!-- <div class="credits">
                    Designed by Diego / Oriana / Jesus
                </div> -->
            </div>
        </div>

    </div>
</footer>